@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
    min-height: 100lvh;
    min-height: 100svh;
  }

  .min-h-screen-modal {
    min-height: 130vh;
    min-height: 130dvh;
    min-height: 130lvh;
    min-height: 130svh;
  }

  .text-balance {
    text-wrap: balance;
  }

  .slider-container::-webkit-scrollbar, .bday-container::-webkit-scrollbar {
    display: none;
    width: 0px;
    scrollbar-width: 0px;
  }

  .slider-container, .bday-container {
    scrollbar-width: 0px;
  }
}

@font-face {
  font-family: 'mitimasu';
  src: url('/fonts/mitimasu.ttf');
}

input[type="radio"]:checked+label>span{ 
  background-color: white;
  color:#523636;
  border: 2px solid #523636;
  font-weight: bold;
} 

.required::after {
  content: '*';
  color: red;
  position: absolute;
  font-size: .5em;
  margin-left: 5px;
}

/* Target only buttons with the swiper-button-disabled class */
.custom-nav.swiper-button-disabled {
  opacity: 1; /* Reduce opacity */
  cursor: not-allowed; /* Change cursor to indicate disabled */
  pointer-events: none; /* Disable interaction */
}

/* Target the <img> inside disabled button */
.custom-nav.swiper-button-disabled img {
  filter: grayscale(100%); /* Make the image look inactive */
  opacity: 0.6; /* Dim the image */
}

/* Target the <svg> inside disabled button */
.custom-nav.swiper-button-disabled svg {
  opacity: 0.5; /* Reduce SVG opacity */
}

input[type='color']{
  margin:0;
  padding:0;
  border:0;
  width:1rem;
  height: 1rem;
  aspect-ratio: 1;
}
input[type='color']::-webkit-color-swatch-wrapper {
padding: 0;
  margin:0;
  background:none;
}
input[type='color']::-webkit-color-swatch {
border: none;
}