@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
    min-height: 100lvh;
    min-height: 100svh;
  }
  
  .text-balance {
    text-wrap: balance;
  }

  .slider-container::-webkit-scrollbar, .bday-container::-webkit-scrollbar {
    display: none;
    width: 0px;
    scrollbar-width: 0px;
  }

  .slider-container, .bday-container {
    scrollbar-width: 0px;
  }
}

input[type="radio"]:checked+label>span{ 
  background-color: white;
  color:#523636;
  border: 2px solid #523636;
  font-weight: bold;
} 

.required::after {
  content: '*';
  color: red;
  position: absolute;
  font-size: .5em;
  margin-left: 5px;
}